.search__checkedTags {
  display: flex;
  gap: 2%;
  margin: 0 0 13px 0;

  &__tag {
    display: none;
    gap: 5px;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    border-radius: 5px;
    padding: 10px 16px;
    color: white;
    font-size: 13px;

    & .fa-times-circle {
      justify-self: right;
      font-size: 20px;
      width: 20px;
      cursor: pointer;
    }
  }
}

#ingredientSelectTag {
  background-color: #3282F7;
}

#applianceSelectTag {
  background-color: #68D9A4;
}

#utensilSelectedTag {
  background-color: #ED6454;
}
